# dependencies
node_modules/

# next
.next/
out/
next-env.d.ts

# production
build/

# local data store (no-Supabase dev mode)
.data/

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo

# netlify
.netlify/
